@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

* {
    font-family: 'Albert Sans', 'Noto Sans Mono', sans-serif;
}

body {
    margin: 0px;
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 12px 10% 12px 10%;
}

.nav-link, .logo {
    color: white;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.nav-link {
    list-style-type: none;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;

    gap: 48px;
    padding: 24px 10% 48px 10%;
    
    background-color: #1F2937;
    color: white;
}

.columns {
    flex: 1;
}

.hero-img {
    width: 200px;
    flex: 1;
    border-radius: 4px;
}

.bullet-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



/* TEXT N LINKS N BUTTONS */
.link {
    color:cadetblue;
}

.outline-button {
    border-color: white;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    padding: 4px 8px 4px 8px;
    margin-top: 12px;
    font-size: 16px;
}

/* FONTS */
::selection {
    color: #1F2937;
    background: aliceblue;
}

.italics {
    font-style: italic;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 24px;
}

.noto {
    font-family: 'Noto Sans Mono';
}