@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

* {
    font-family: 'Albert Sans', 'Noto Sans Mono', sans-serif;
}

body {
    margin: 0px;
}

img {
    border-radius: 4px;
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 12px 10% 12px 10%;
}

.nav-link, .logo {
    color: white;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.nav-link {
    list-style-type: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 48px;
    padding: 24px 10% 48px 10%;
    
    background-color: #1F2937;
    color: white;
}

.columns {
    flex: 1;
}

.hero-img {
    width: 200px;
    flex: 1;
    object-fit: cover;
}

.bullet-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* SECTIONS */
.section {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 32px 15% 32px 15%;
}

.gray {
    background-color: #E5E7EB;
}

/* CARDS */
.card-container {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
}
.card {
    flex: 1;
}
.card-img {
    width: 100%;
    min-width: 100px;
    object-fit: contain;
    border-width: 10px;
    border-color: #1F2937;
}

/* CALLOUT */
.callout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    background-color:#1F2937;
    color: white;
    border-radius: 4px;
    padding: 16px 32px;
    flex-wrap: wrap;
}
.callout-text {
    text-align: left;
}

/* QUOTE */
.quote {
    font-size: 24px;
    text-align: left;
    line-height: 140%;
}

.author {
    text-align: right;
}


/* TEXT N LINKS N BUTTONS */
.link {
    color:cadetblue;
}

.outline-button {
    border-color: white;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    padding: 4px 8px 4px 8px;
    margin-top: 12px;
    font-size: 16px;
    flex-shrink: 0;
}

/* FONTS */
::selection {
    color: #1F2937;
    background: aliceblue;
}

.italics {
    font-style: italic;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 32px;
}

.noto {
    font-family: 'Noto Sans Mono';
}
